<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/style.css">
    <title>MVC BLOG</title>
</head>
<body>
    
    <header>
        <h1>Let's Blog About MVC!</h1>
   
<div>
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#dashboard">Dashboard</a></li>
  <li><a href="#login">Login</a></li>
  <li><a href="#logout">Logout</a></li>
</ul>
</div>
</header>


</head>

{{!-- <form action="/action_page.php">
  <p><label for="mvcblog">Comments</label></p>
  <textarea id="mvcblog" name="mvcblog" rows="4" cols="100">We are learning about MVC in Module 14.</textarea>
  <br>
  <input type="submit" value="Submit">
</form>
<br> --}}

<body>


   
   <div style="border: 1px solid black">First Post</div>
</body>
</html>